.list {
    margin-left: 50px;
    text-align: center;
    float: right;

}

.card {
    margin-left: 40px;
    width: 660px;
    float: left;
}


.menu {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(177, 179, 179);

    width: 450px;
    margin-left: 40px;
    /* margin-bottom: 16px; */
}
.assignments {
    background-color: rgb(41, 42, 51);
    color: white;

}

.navbar {
    height: 71px;
}
 @media (max-width: 768px) {
.list {
    width: auto

}
.card {
    width: 400px;
    height: auto;
    float: left;
}
} 
